      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
	  {{ post.date | date: date_format }}
	  {%- if post.author %}
          • {{ post.author }}
	  {%- endif -%}
	  {%- if post.tags %}
          • {% for tag in post.tags %}
	      <a href="{{ '/by-category' | relative_url }}#{{ tag | slugify:'latin' }}">{{ tag }}</a>
	    {% endfor%}
	  {%- endif -%}
	  </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
		  {% if post.excerpt.size < post.content.size %}
          <a href="{{ post.url | relative_url }}">[…]</a>
		  {% endif %}
        {%- endif -%}
      </li>
